#header
    div
        span#counter 0
        |  strangers online
#chatarea
    div
        strong Shuffle through strangers. Make new friends.
    div
        strong We pick a random user for you and let you have a one-on-one chat with each other.
    div
        strong Chats are anonymous. Revealing personal information is not advisable.
    div
        strong Click on the connect button to start chatting
#controls
    #connect
        button#btn_left
            #state Connect
            .btn_text Esc
    #message
        textarea
    #send
        button#btn_right Send
            .btn_text Enter
